*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Raleway', sans-serif;
}
header{
    background: url(./img/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header nav .logo{
    padding: 8px 20px;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background: #4d9c0d;
    border-radius: 7px;
    line-height: 16px;
    letter-spacing: 2px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding: 37px 11px 29px 10px;
}
header nav ul li a{
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    display: flex;
}
header nav ul li a span{
    width: 23px;
    height: 23px;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 5px;
    border-radius: 50%;
    background: #fff;
    display: block;
    color: #4d9c0d;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
header nav ul li a:hover{
    color: #fff;
}
header nav ul li:hover,
header nav ul li.active{
    background: rgba(79, 155, 17, .5);
    color: #fff;
}
.top{
    padding-top: 150px;
}
.gamburger{
    font-size: 72px;
    font-weight: 900;
    color: #69cf17;
    text-transform: uppercase;
}
.span{
    font-size: 30px;
    font-weight: 400;
    color: #69cf17;
    line-height: 18px;
}
.text{
    padding-top: 30px;
    font-size: 18px;
    color: #fff;
}
.number{
    padding: 28px 80px;
    background: rgba(100, 177, 42, .7);
    font-size: 60px;
    font-weight: 100;
    line-height: 40px;
    margin-top: 75px;
    margin-bottom: 150px;
    border: none;
    color: #fff;
}

/*--------------------------------section1 start-------------------------------*/
.section1{
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
}
.section1 .list_group{
    display: flex;
    padding: 0;
}
.section1 .list_group .list_item{
    padding: 50px 50px 70px 0;
   
}
.section1 .list_group .list_item a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #7a7a7a;
}
.section1 .list_group .list_item a:hover{
    color: #4d9c0d;
}
.menu{
    position: relative;
    margin-bottom: 20px;
}
.section_img img{
    position: relative;
    width: 100%;
} 
.section_hover{
position:absolute;
width: 100%;
height: 100%;
background: rgba(100, 177, 42, .5);
top: 0;
transition: 1s;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
color: #fff;
}
.section_btn{
    padding: 21px 58px;
    background: rgba(82, 159, 23, .8);
    font-size: 24px;
    font-weight: 100;
    line-height: 18px;
    border: none;
    color: #fff;
    position: absolute;
    top: 85.5%;
}
.section_hover:hover{
transform: rotatex(90deg);
} 
.text_burger{
    margin-top: 35px;
}
.section_text{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #62be19;
}
.section_text1{
 font-size: 16px;
 color: #dedede;
}
/*-----------------------------------section2 start-----------------------------*/
.section2{
    background: url(./img/section_bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.section_map{
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #4e9f0d;
}
.section_map::after{
    content: '';
    margin: auto;
    display: block;
    height: 2px;
    background: #4d9c0d;
    width: 10%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.section2_text{
    text-align: start;
    font-size: 18px;
    color: #dedede;
   
}
.section2_text1{
    text-align: start;
    font-size: 18px;
    color: #dedede;
    padding-bottom: 100px;
}
/* -------------------section3 start----------------- */
.karta_text{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: #4d9c0d;
}
.karta_img img{
    width: 100%;
    
}
/* ----------------footer start------------------------ */
footer{
    background: black;
  }
  footer .logotip{
    padding-top: 50px;
  }
  footer .logo{
    padding: 5px 20px;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background: #4d9c0d;
    border-radius: 7px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 3px solid #4d9c0d;
    box-shadow: inset 1px 1px 10px #2f631b ;
  }
  footer .number1{
    font-size: 24px;
    font-weight: 700;
    color: #4e9f0d;
  }
  footer ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 45px;
  }
  footer ul li{
    padding-right: 35px;
  }
  footer a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #ffffff;
  }
  footer a:hover{
    color: #69cf17;
  }
  .footer_text{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
  }
  